@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f7fa;
    height: 100vh;
    width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
}

.navbar i {
    font-size: 1.5rem;
    color: #dadfe6;
}

.navbar i:nth-child(1) {
    color: #fe466d;
}

/* photo and actions */
.photo-and-actions {
    height: calc(100vh - 44px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 98%;
    height: 85vh;
    background: url('./imagens/images.jpg') center center/cover no-repeat;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    color: #eee;
    box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
}

/* pegar code */
.photo-text {
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg,
            rgba(2, 0, 36, 1) 0%, rgba(35, 34, 65, 0) 0%, rgba(0, 0, 0, 0.7) 52%);
    border-radius: 10px;
}

.photo-name-and-age {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    font-size: 1.4rem;

}

.photo-name-and-age h2 {
    margin-left: 10px;
    font-weight: 500;
}

.photo-bio {
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: 500;
}

/* actions */
.actions {
    display: flex;
    flex: auto;
    align-items: center;
    margin: 1rem 0;

}

.action {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
    transition: transform 500ms ease;

}

.action:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.actions .action:nth-child(1) {
    color : #fd5068;
}
.actions .action:nth-child(2) {
    margin: 0 1rem;
    color: #2db1ff;
    height: 48px;
    width: 48px;
    font-size: 1.5rem;
}

.actions .action:nth-child(3) {
    color: #1be4a1;
}

/* dekstop view */
@media (min-width: 1025px) {
    .photo {
        width: 367px;
        height: 684px;
    }

    .navbar {
        width: 400px;
        margin: 0 auto;
    }
}


